Source: dopymanager
Section: web
Priority: optional
Maintainer: "Mathis Lecomte", <vm.lecomte@gmail.com>
Homepage: https://dopy.tech
Build-Depends: debhelper (>= 12), dh-python, python3-all
XS-Python-Version: 3.9
Standards-Version: 3.0.0

Package: dopymanager
Architecture: any
Depends: python3, ${misc:Depends}, ${python3:Depends}
Description: Dopy Manager
 Dopy Manager allows to communicate with the Dopy application