[Desktop Entry]
Version=0.0.4
Type=Application
Name=Dopy Manager
Comment=Dopy Manager allows SBCs to communicate with the Dopy mobile application.
Exec=dopymanager --run all
Icon=/usr/share/dopymanager/dopy_logo.png
Categories=Utility;
Terminal=true
# StartupNotify=true
StartupWMClass=dopymanager