Package: dopymanager
Version: 0.0.2
Architecture: amd64
Maintainer: "Mathis Lecomte", <vm.lecomte@gmail.com>
Installed-Size: 44
Depends: python3, python3:any
Section: web
Priority: optional
Homepage: https://dopy.tech
Description: Dopy Manager
 Dopy Manager allows to communicate with the Dopy application
